body {
    height: 100vh; /* Para cobrir toda a tela */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url("../img/teste_home.jpeg"); 
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    /*padding-top: 220px;  Garante que o conteúdo fique abaixo da faixa */
    font-family: Arial, sans-serif;
    text-align: center;
    width: 80%;
    margin-left: 150px;
    padding-top: 20px;
    overflow-y: auto;
    border-radius: 1px;
}

/* Botoes */
.agendamento{
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    width: 120px; /* Padroniza os botões */
    border-radius: 5px;
    border: none;
    background-color: #cf6a05;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.home{
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    width: 120px; /* Padroniza os botões */
    border-radius: 5px;
    border: none;
    background-color: #cf6a05;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.consulta{
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    width: 120px; /* Padroniza os botões */
    border-radius: 5px;
    border: none;
    background-color: #cf6a05;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.faixa {
  background: linear-gradient(-30deg, #F38E29, #FFFFFF);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 8px 16px;
}

/* Remove bordas padrão do Bootstrap no botão do menu */
.navbar-toggler {
  border: none;
}

/* Alinha os botões */
.nav-link button {
  background-color: #d76b00;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-link button:hover {
  background-color: #b55a00;
  color: #FFFFFF;
}

/* Ícone hambúrguer branco */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 50, 50, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.table-container {
    max-height: 400px; /* altura fixa */
    overflow-y: auto; /* rolagem vertical */
    overflow-x: auto; /* rolagem horizontal se necessário */
    border: 1px solid #ccc; /* borda para destacar */
}

.table-container table {
    width: 100%; /* tabela ocupa toda largura */
    border-collapse: collapse; /* remove espaçamento entre células */
}

.table-container th,
.table-container td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    border-collapse: collapse;
}


th, td { 
    padding: 10px;
     border: 1px; 
     border-color: #8d9c9c
    }

th {  
    background-color: rgb(255, 140, 0);
    color: white;
    font-weight: bold;
}

td{
    text-align: left;
}

tbody {
background-color: white;
}

tr{
    background-color: white;
}

.filtros-container {
display: flex;
justify-content: center;
margin-bottom: 15px;
}

.filtros {
display: flex;
gap: 5px;
align-items: center;
padding: 10px;
border-radius: 10px;
box-shadow: 0px 4px 10px rgba(0.1, 0.1, 0.1, 0.1);
height: 50px;
width: 480px;
margin-left: 5px;
}

@media(max-width: 768px){
    .filtros{
        height: 50px;
        width: 240px;
    }

    body{
        align-items: center;
    }
}

.searchInput, .startDate, .endDate {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
align-items: center;
}

.searchInput {
width: 100px;
height: 30px;
margin-top: 10px;
}

.startDate, .endDate {
width: 100px;
}

.filtrar {
background-color: darkorange;
color: white;
border-radius: 5px;
border: none;
font-size: 16px;
padding: 10px 15px;
cursor: pointer;
transition: 0.3s;
}

.filtrar:hover {
background-color: #e69500;
}

.btn-download {
display: inline-block;
padding: 8px 15px;
background-color: orange; /* Azul padrão */
color: white;
text-decoration: none;
font-weight: bold;
border-radius: 5px;
transition: background 0.3s ease, transform 0.2s ease;
text-align: center;
border: none;
cursor: pointer;
}

.btn-download:hover {
background-color: #e7810c; /* Azul mais escuro no hover */
transform: scale(1.05); /* Pequeno efeito de crescimento */
}

.btn-download:active {
transform: scale(0.95); /* Efeito ao clicar */
}

.tabela-container {
height: 600px; /* Defina a altura fixa desejada */
overflow-y: auto; /* Adiciona rolagem vertical se necessário */
max-width: 70%; /* Garante que o contêiner siga o tamanho da tabela */
margin: auto; /* Centraliza a tabela */
border-radius: 10px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
