body {
  height: 100vh; /* ocupa a tela toda */
  margin: 0;
  display: flex;
  justify-content: center;  /* centraliza horizontal */
  align-items: center;      /* centraliza vertical */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                        url("../img/teste_home.jpeg");
  background-size: cover;   /* cobre sem cortar */
  background-position: center;
  padding-top: 40px;
}


/* Telas menores */
@media(max-width: 768px) {
  body {
    background-image: linear-gradient(rgba(1, 1, 1, 0.918), rgba(1, 1, 1, 0.918)), 
                    url("../img/teste_home.jpeg");/* remove a imagem de fundo */
    background-color: rgba(0, 0, 0, 0.7); /* mesma cor do formulário */
  }

}

/* Botoes */
.agendamento {
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    width: 120px; /* Padroniza os botões */
    border-radius: 5px;
    border: none;
    background-color: #cf6a05;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.home{
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    width: 120px; /* Padroniza os botões */
    border-radius: 5px;
    border: none;
    background-color: #cf6a05;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


.consulta {
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    width: 120px; /* Padroniza os botões */
    border-radius: 5px;
    border: none;
    background-color: #cf6a05;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


.faixa {
  background: linear-gradient(-30deg, #F38E29, #FFFFFF);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 8px 16px;
}

/* Remove bordas padrão do Bootstrap no botão do menu */
.navbar-toggler {
  border: none;
}

/* Alinha os botões */
.nav-link button {
  background-color: #d76b00;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-link button:hover {
  background-color: #b55a00;
}

/* Ícone hambúrguer branco */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 50, 50, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.container {
  margin-top: 80px;
}



.form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    border: 2px solid #f8b466;
    border-radius: 10px; /* Torna a borda arredondada */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    background-color:rgba(0, 0, 0, 0.2); ;  
    background-image: url("../img/contatos_home.png");
    background-size: cover;
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    color: #FFFFFF;
}

.enviar button{
    background-color: orange;
    color: white;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}

.enviar button:hover {
  background-color: #d97706;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #c9c8c7;
    border-radius: 5px;
    background-color: #494848;
}

.form-control{
  width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: orange;
}
