<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=maps,marker&v=beta"
      async
      defer
    ></script>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/logo_poly.png') }}"
      type="image/png"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <!-- Bootstrap Font Icon CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="faixa navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="home">
          <img
            src="{{ url_for('static', filename='img/logo_poly.png') }}"
            alt="Logo"
            height="40"
          />
        </a>

        <!-- Botão de menu (hambúrguer) -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Alternar navegação"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Itens do menu -->
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav text-right">
            <li class="nav-item text-right">
              <a href="home" class="nav-link">
                <button class="home">Home</button>
              </a>
            </li>
            <li class="nav-item text-right">
              <a href="agendamento" class="nav-link">
                <button class="agendamento justify-content-end">Agendar</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="apresentacao">
      <div class="slogan">
        <h1>
          O seu parceiro para<br />
          Feiras e Eventos
        </h1>
      </div>
      <div class="frase_efeito">
        <h3>
          A TUANDO HÁ 26 ANOS NA ÁREA, <br />SOMOS ESPECIALIZADOS NA CRIAÇÃO
          <br />E EXECUÇÃO DE PROJETOS DE STANDS<br />
          TRANSFORMAR SEU SONHO EM REALIDADE É O NOSSO COMPROMISSO
        </h3>
      </div>
    </div>

    <!--CONTÚDO DA HOME-->

    <div class="servicos">
      <h4>Projetos</h4>
      <!-- Título no topo -->
      <div class="servicos-container">
        <div class="stand">
          <a href="stands">
            <img
              src="{{ url_for('static', filename='img/teste_pdv.jpg') }}"
              width="260px"
              height="200px"
            />
          </a>
          <h3>Stands</h3>
          <p>Projeto, execução e montagem <br />de Stands</p>
        </div>

        <div class="cenografia">
          <a href="cenografia">
            <img
              src="{{ url_for('static', filename='img/teste_cenografia.jpg') }}"
              width="260px"
              height="200px"
            />
          </a>
          <h3>Cenografia</h3>
          <p>Especialistas em cenografias para <br />eventos empresariais</p>
        </div>

        <div class="quiosque">
          <a href="quiosques">
            <img
              src="{{ url_for('static', filename='img/teste_quiosque.jpg') }}"
              width="260px"
              height="200px"
            />
          </a>
          <h3>Quiosques</h3>
          <p>Projeto, execução e montagem <br />de quiosques</p>
        </div>
      </div>

      <h4>Por que contratar a Poly Stands</h4>
      <p>
        Se você busca inovação, qualidade e um atendimento personalizado para a
        criação de stands e soluções para eventos<br />
        a Poly Stands é a escolha certa! Com uma equipe altamente qualificada e
        anos de experiência no mercado<br />
        entregamos projetos sob medida para destacar sua marca e garantir o
        sucesso da sua participação em feiras e exposições.
      </p>

      <div class="linha-visual"></div>

      <div class="infos">
        <div class="contatos">
          <h1>Canais de comunicação</h1>
          <div class="whatsapp">
            <h2><i class="bi bi-whatsapp"></i></h2>
            <p>(11) 9 9879-1046</p>
          </div>
          <div class="contato_email">
            <h2><i class="bi bi-envelope"></i></h2>
            <p>polystands@gmail.com</p>
          </div>
          <div class="logo-contatos">
            <h2><i class="bi bi-whatsapp"></i></h2>
            <p>Contato dev: (11) 9 6717-1932</p>
          </div>
        </div>

        <div class="endereco">
          <!--<h2><i class="bi bi-building"></i></h2>-->
          <gmp-map
            center="-23.492511579770937, -46.72896349795975"
            zoom="15"
            map-id="DEMO_MAP_ID"
          >
            <gmp-advanced-marker
              position="-23.492511579770937, -46.72896349795975"
              title="Polystands - Rua Tatsuo Okachi, Número 498 - Chacará Inglesa"
            ></gmp-advanced-marker>
          </gmp-map>
          <p>Rua Tatsuo Okachi, Número 498 - Chacará Inglesa</p>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("show");
              } else {
                entry.target.classList.remove("show");
              }
            });
          },
          { threshold: 0.05 }
        ); // ativa quando 10% do elemento aparece na tela

        document.querySelectorAll(".servicos").forEach((el) => {
          observer.observe(el);
        });
      });
    </script>
  </body>
</html>
